<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Trade</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/trade/update/{id}(id=${trade.tradeId})}" th:object="${trade}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of Trade, there are 2 buttons: Update data and Cancel to the Trade List
			 -->

			<label for="account">Account</label>
			<input id="account" type="text" th:field="*{account}" class="form-control" />
			<small class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></small>
			<br/>

			<label for="type">Type</label>
			<input id="type" type="text" th:field="*{type}" class="form-control" />
			<small class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></small>
			<br/>

			<label for="buyQuantity">Buy Quantity</label>
			<input id="buyQuantity" type="number" th:field="*{buyQuantity}" class="form-control" />
			<small class="text-danger" th:if="${#fields.hasErrors('buyQuantity')}" th:errors="*{buyQuantity}"></small>
			<br/>

			<button type="submit" class="btn btn-primary btn-sm">Save</button>
			<a href="/trade/list" class="btn btn-danger btn-sm">Cancel</a>
		</form>
	</div>

</div>
</body>
</html>