<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Update New Rule</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/ruleName/update/{id}(id=${ruleName.id})}" th:object="${ruleName}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of RuleName, there are 2 buttons: Update data and Cancel to the RuleName
			 -->
			<label for="name">Name</label>
			<input id="name" type="text" th:field="*{name}" class="form-control" />
			<small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
			<br/>

			<label for="description">Description</label>
			<input id="description" type="text" th:field="*{description}" class="form-control" />
			<small class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
			<br/>

			<label for="json">Json</label>
			<input id="json" type="text" th:field="*{json}" class="form-control" />
			<small class="text-danger" th:if="${#fields.hasErrors('json')}" th:errors="*{json}"></small>
			<br/>

			<label for="template">Template</label>
			<input id="template" type="text" th:field="*{template}" class="form-control" />
			<small class="text-danger" th:if="${#fields.hasErrors('template')}" th:errors="*{template}"></small>
			<br/>

			<label for="sqlStr">SQL</label>
			<input id="sqlStr" type="text" th:field="*{sqlStr}" class="form-control" />
			<small class="text-danger" th:if="${#fields.hasErrors('sqlStr')}" th:errors="*{sqlStr}"></small>
			<br/>

			<button type="submit" class="btn btn-primary btn-sm">Save</button>
			<a href="/ruleName/list" class="btn btn-danger btn-sm">Cancel</a>
		</form>
	</div>

</div>
</body>
</html>