<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update CurvePoint</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/update/{id}(id=${curvePoint.id})}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of CurvePoint, there are 2 buttons: Update data and Cancel to the Curve Point
			 -->
			<label for="asOfDate">Date</label>
			<input id="asOfDate" type="datetime-local" th:field="*{asOfDate}" class="form-control" />
			<small class="text-danger" th:if="${#fields.hasErrors('asOfDate')}" th:errors="*{asOfDate}"></small>
			<br/>

			<label for="term">Term</label>
			<input id="term" type="text" th:field="*{term}" class="form-control" />
			<small class="text-danger" th:if="${#fields.hasErrors('term')}" th:errors="*{term}"></small>
			<br/>

			<label for="curveId">Curve ID</label>
			<input id="curveId" type="text" th:field="*{curveId}" class="form-control" />
			<small class="text-danger" th:if="${#fields.hasErrors('curveId')}" th:errors="*{curveId}"></small>
			<br/>

			<label for="value">Value</label>
			<input id="value" type="number" step="0.01" th:field="*{value}" class="form-control" />
			<small class="text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></small>
			<br/>

			<label for="creationDate">Creation Date</label>
			<input id="creationDate" type="datetime-local" step="0.01" th:field="*{creationDate}" class="form-control" />
			<br/>

			<button type="submit" class="btn btn-primary btn-sm">Save</button>
			<a href="/bidList/list" class="btn btn-danger btn-sm">Cancel</a>
		</form>
	</div>

</div>
</body>
</html>